@use "scss/container";

.default-header {
  @extend .container--py;
  @extend .container--border-bottom;

  display: flex;
  justify-content: center;

  h1 {
    text-align: center;
    font-weight: bold;
  }
}
